snippet given "given when then"
  \begin{gwt}
	  % \itemG -> Given
		% \itemW -> When
		% \itemA -> And
		% \itemT -> Then
    \itemG $1
    \itemW $2
    \itemT $0
  \end{gwt}
endsnippet

snippet icd "icd reference"
\hyperref[ICD-${0:${VISUAL}}]{\nolinkurl{$0}}
endsnippet
