- name: Fetch deno install script
  become: false
  ansible.builtin.get_url:
    url: https://deno.land/install.sh
    dest: /tmp/install.sh
    force: true
- name: Install Deno
  become: false
  ansible.builtin.shell: sh /tmp/install.sh
- name: Set PATH for deno for bash
  become: false
  ansible.builtin.blockinfile:
    path: "~/.bash_ansible"
    marker: "# {mark} ANSIBLE MANAGED deno setup DON'T MODIFY OR DELETE"
    block: |
      PATH="$HOME/.deno/bin:$PATH"
- name: Set PATH for deno for zsh
  become: false
  ansible.builtin.blockinfile:
    path: "~/.zsh_ansible"
    marker: "# {mark} ANSIBLE MANAGED deno setup DON'T MODIFY OR DELETE"
    block: |
      PATH="$HOME/.deno/bin:$PATH"
- name: upgrade deno
  become: false
  ansible.builtin.shell: ~/.deno/bin/deno upgrade
