[user]
  name = David Stadelmann
  email = david.stadelmann@scs.ch
[color]
  ui = always
  diff = always
[color "diff"]
  meta = magenta
[core]
	editor = nvim
  PreloadIndex = true
[pull]
	rebase = true
[push]
  default = tracking
[branch]
  autosetupmergeg = always
[gui]
  spellingdictionary = none
[alias]
  logk = log --graph --full-history --all --color --pretty=format:'%x1b[31m%h%x09%x1b[32m %C(white)- %C(yellow)%d%C(white)%x1b[0m%x20%s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --date=local
  logb = log --graph --color --pretty=format:'%x1b[31m%h%x09%x1b[32m %C(white)- %C(yellow)%d%C(white)%x1b[0m%x20%s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --date=local
  root = !pwd
  lg = log --graph --pretty=format:'%Cred%h%Creset %ad %s %C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --date=short
  hist = log --graph --full-history --all --pretty=format:'%Cred%h%Creset %ad %s %C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --date=short
  ldiff = difftool -t latex  
  unpushed-tags = "!bash -c \"comm -23 <(git show-ref --tags | sed -r 's/\\s+/ /g' | cut -d ' ' -f 2 | sort) <(git ls-remote --tags origin | sed -r 's/\\s+/ /g' | cut -d ' ' -f 2 | sort)\""
  echo = "!bash -c \"comm -23 <(git show-ref --tags | awk '{print \\$2}' | sort) <(git ls-remote --tags origin | awk '{print \\$2}' | sort)\""
[difftool.latex]
  cmd = git-latexdiff "$LOCAL" "$REMOTE"
[difftool]
  prompt = false
[difftool "select"]
  cmd = difftool.sh "$LOCAL" "$REMOTE"
  keepBackup = false
[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	main-window-view = HistoryView
	history-view-vpane-position = 493
[color "interactive"]
	prompt = yellow
[merge]
	tool = meld
[rerere]
	enabled = true
[web]
	browser = chromium-browser
[credential]
	helper = cache

# git diff filters
# from "man git"
# ...
#        GIT_EXTERNAL_DIFF is called with 7 parameters:
#               path old-file old-hex old-mode new-file new-hex new-mode

[diff "bz2"]
	binary = true
	textconv = /bin/bzcat
[diff "gzip"]
	binary = true
	textconv = /bin/zcat
[diff "tar"]
	binary = true
	textconv = tar --to-stdout -xf
[diff "tar-bz2"]
	binary = true
	textconv = tar --to-stdout -xjf
[diff "zip"]
	textconv = unzip -p
[diff "pdf"]
	binary = true
	command = /bin/sh -c 'diffpdf \"${1}\" \"${4}\"'
[diff "pdf-text"]
	binary = true
	textconv = pdftotext
[diff "sqlite3"]
	binary = true
	textconv = /bin/sh -c 'sqlite3 \"${1}\" .dump' rhr-sqlite3-diff-arg0
[diff "gpg-public-keys"]
	textconv = gpg --no-default-keyring --list-public-keys --keyring
[diff "gpg-trustdb"]
	textconv = gpg --export-ownertrust --trustdb-name
[diff "xlsx"]
	textconv = xlsx2csv --sheet=0 --delimiter=x59
[diff "pandoc-markdown"]
	textconv = pandoc --to=markdown
[diff "extract"]
	textconv = extract
[diff "latex"]
	wordregex = "\\\\[a-zA-Z]+|[{}]|\\\\.|[^\\{}[:space:],]+"
[difftool.unoconv-pdf-diff]
  binary = true
	command = /bin/bash -c 'unoconv-pdf-diff \"${1}\" \"${4}\"'

[diff]
	tool = select
