[user]
  name = David Stadelmann
  email = david.stadelmann@scs.ch
[color]
  ui = always
  diff = always
[color "diff"]
  meta = magenta
[core]
	editor = vim
  PreloadIndex = true
[push]
  default = tracking
[branch]
  autosetupmergeg = always
[gui]
  spellingdictionary = none
[alias]
  logk = log --graph --full-history --all --color --pretty=format:'%x1b[31m%h%x09%x1b[32m %C(white)- %C(yellow)%d%C(white)%x1b[0m%x20%s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --date=local
  logb = log --graph --color --pretty=format:'%x1b[31m%h%x09%x1b[32m %C(white)- %C(yellow)%d%C(white)%x1b[0m%x20%s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --date=local
  root = !pwd
  lg = log --graph --pretty=format:'%Cred%h%Creset %ad %s %C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --date=short
  hist = log --graph --full-history --all --pretty=format:'%Cred%h%Creset %ad %s %C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --date=short
  ldiff = difftool -t latex  
  unpushed-tags = "!bash -c \"comm -23 <(git show-ref --tags | sed -r 's/\\s+/ /g' | cut -d ' ' -f 2 | sort) <(git ls-remote --tags origin | sed -r 's/\\s+/ /g' | cut -d ' ' -f 2 | sort)\""
  echo = "!bash -c \"comm -23 <(git show-ref --tags | awk '{print \\$2}' | sort) <(git ls-remote --tags origin | awk '{print \\$2}' | sort)\""
[difftool.latex]
          cmd = git-latexdiff "$LOCAL" "$REMOTE"
[difftool]
          prompt = false
[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	main-window-view = HistoryView
	history-view-vpane-position = 493
[color "interactive"]
	prompt = yellow
[merge]
	tool = meld
[rerere]
	enabled = true
[web]
	browser = chromium-browser
[credential]
	helper = cache
