- name: Download installer
  become: false
  ansible.builtin.get_url:
    url: https://sh.rustup.rs
    dest: /tmp/sh.rustup.rs
    mode: '0755'
    force: yes
- name: install rust/cargo
  become: false
  ansible.builtin.shell: /tmp/sh.rustup.rs -y
- name: update rust/cargo
  become: false
  ansible.builtin.shell: |
    $HOME/.cargo/bin/rustup update stable
    $HOME/.cargo/bin/rustup default stable
- name: Source environment for cargo in .bash_ansible
  become: false
  ansible.builtin.blockinfile:
    path: "~/.bash_ansible"
    marker: "# {mark} ANSIBLE MANAGED cargo setup"
    block: |
      '[ -f ~/.cargo/env ] && source "$HOME/.cargo/env"'
- name: Source environment for cargo in .zsh_ansible
  become: false
  ansible.builtin.blockinfile:
    path: "~/.zsh_ansible"
    marker: "# {mark} ANSIBLE MANAGED cargo setup"
    block: |
      '[ -f ~/.cargo/env ] && source "$HOME/.cargo/env"'
