- name: Download pyenv installer
  become: false
  ansible.builtin.get_url:
    url: https://pyenv.run
    dest: /tmp/pyenv.run
    force: true
- name: Install pyenv
  become: false
  ansible.builtin.shell: bash /tmp/pyenv.run
- name: Setup shell environment for pyenv [.bashrc]
  become: false
  ansible.builtin.blockinfile:
    path: "~/.bash_ansible"
    marker: "# {mark} ANSIBLE MANAGED pyenv setup DON'T MODIFY OR DELETE"
    block: |
      export PYENV_ROOT="$HOME/.pyenv"
      command -v pyenv >/dev/null || export PATH="${PYENV_ROOT}/bin:$PATH"
      eval "$(pyenv init -)"
- name: Setup shell environment for pyenv .zshrc
  become: false
  ansible.builtin.blockinfile:
    path: ~/.zsh_ansible
    marker: "# {mark} ANSIBLE MANAGED pyenv setup DON'T MODIFY OR DELETE"
    block: |
      export PYENV_ROOT="$HOME/.pyenv"
      [[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
      eval "$(pyenv init -)"
- name: Install dependencies for pyenv to be able to install python versions
  become: true
  ansible.builtin.package:
    name:
      - libssl-dev
      - liblzma-dev
      - libsqlite3-dev
      - libffi-dev
      - libbz2-dev
      - tk-dev
