- name: Download starship install script
  become: false
  ansible.builtin.get_url:
    url: https://starship.rs/install.sh
    dest: /tmp/starship_install.sh
    force: true
- name: Install starship
  become: false
  ansible.builtin.shell: sh /tmp/starship_install.sh -y
- name: Setup for Bash
  become: false
  ansible.builtin.blockinfile:
    path: ~/.bash_ansible
    marker: "# {mark} ANSIBLE MANAGED starship setup"
    block: |
      eval "$(starship init bash)"
- name: Setup for ZSH
  become: false
  ansible.builtin.blockinfile:
    path: ~/.zsh_ansible
    marker: "# {mark} ANSIBLE MANAGED starship setup"
    block: |
      eval "$(starship init zsh)"
