- name: Install Autojump
  become: true
  ansible.builtin.package:
    name:
      - autojump
    state: present
- name: Setup zsh environment for autojump
  become: false
  ansible.builtin.blockinfile:
    path: ~/.zsh_ansible
    marker: "# {mark} ANSIBLE MANAGED autojump setup"
    block: |
      source /usr/share/autojump/autojump.zsh
- name: Setup bash environment for autojump
  become: false
  ansible.builtin.blockinfile:
    path: ~/.bash_ansible
    marker: "# {mark} ANSIBLE MANAGED autojump setup"
    block: |
      source /usr/share/autojump/autojump.bash
