- name: Install direnv
  ansible.builtin.package:
    name: direnv
    state: present
- name: Setup direnv in .bash_ansible
  become: false
  ansible.builtin.blockinfile:
    path: "~/.bash_ansible"
    marker: "# {mark} ANSIBLE MANAGED direnv setup"
    block: |
      eval "$(direnv hook bash)"
- name: Setup direnv in .zsh_ansible
  become: false
  ansible.builtin.blockinfile:
    path: "~/.zsh_ansible"
    marker: "# {mark} ANSIBLE MANAGED direnv setup"
    block: |
      eval "$(direnv hook zsh)"
- name: create poetry layout
  become: false
  copy:
    src: direnvrc
    dest: ~/.direnvrc
    mode: '0644'
    force: true
