- name: Get Yarn pubkey
  ansible.builtin.get_url:
    url: https://dl.yarnpkg.com/debian/pubkey.gpg
    dest: /etc/apt/trusted.gpg.d/yarn-archive-key.asc
    force: true
- name: Update Source List
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/trusted.gpg.d/yarn-archive-key.asc] https://dl.yarnpkg.com/debian/ stable main"
    state: present
    update_cache: yes
- name: Install Yarn
  ansible.builtin.apt:
    name: yarn
    install_recommends: false
    state: present
