- name: Add i3 key to apt
  become: true
  ansible.builtin.get_url:
    url: https://baltocdn.com/i3-window-manager/signing.asc
    dest: /etc/apt/trusted.gpg.d/i3-window-manager.asc
    mode: '0644'
    force: true
- name: Install
  become: true
  ansible.builtin.apt:
    name: apt-transport-https
    state: present
- name: Update Source List
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/trusted.gpg.d/i3-window-manager.asc] https://baltocdn.com/i3-window-manager/i3/i3-autobuild-ubuntu/ all main"
    state: present
    update_cache: yes
- name: Install i3
  become: true
  ansible.builtin.apt:
    name: i3
    state: present
- name: Install dependencies for i3 setup
  become: true
  ansible.builtin.package:
    name:
      - picom
      - kitty
      - budgie-network-manager-applet
      - nitrogen
      - suckless-tools
      - rofi
      - maim
      - imagemagick
    state: present
- name: Setup .xsessionrc for i3
  become: false
  ansible.builtin.blockinfile:
    path: ~/.xsessionrc
    marker: "# {mark} ANSIBLE MANAGED cargo setup"
    block: |
      [ -f $HOME/.cargo/env ] && source "$HOME/.cargo/env"
      export XDG_CONFIG_HOME="$HOME/.config"
      export PATH="$HOME/.deno/bin:$PATH"
      export PATH="$HOME/.local/share/bob/nvim-bin:$PATH"
      export PATH="$HOME/.local/share/nvim/mason/bin:$PATH"
      unclutter &
- name: Install additional niceties
  ansible.builtin.include_tasks: "{{ item }}"
  loop:
    - screenlock.yaml
    - rofi.yaml
    - betterlockscreen.yaml
    - autotiling.yaml
