- name: Download fzf
  become: false
  ansible.builtin.git:
    repo: https://github.com/junegunn/fzf.git
    depth: 1
    dest: ~/.fzf
- name: Install fzf
  become: false
  ansible.builtin.shell: ~/.fzf/install
- name: Install zsh fzf plugin
  become: false
  ansible.builtin.git:
    repo: https://github.com/unixorn/fzf-zsh-plugin.git
    dest: ~/.zsh_plugins/fzf
    depth: 1
- name: Source fzf plugin
  become: false
  ansible.builtin.blockinfile:
    path: ~/.zsh_ansible
    marker: "# {mark} ANSIBLE MANAGED fzf zsh plugin setup"
    block: |
      export PATH="~/.zsh_plugins/fzf/bin:$PATH"
      source ~/.zsh_plugins/fzf/fzf-zsh-plugin.plugin.zsh
      source ~/.zsh_plugins/fzf-tab/fzf-tab.plugin.zsh
