- name: Setup Developmen Environment on Ubuntu
  hosts: dev
  module_defaults:
    ansible.builtin.blockinfile:
      create: true
      prepend_newline: true
      append_newline: true
      state: present
  become: true
  vars_files:
    - vault/vars.yaml
    - vault/vault.yaml
  vars:
    path_vars: {}
    env_setup: {}
  roles:
    - role: distupgrade
    - role: zsh
    - role: git
    - role: i3
    - role: neovim
    - role: alacritty
    - role: virtualbox
      when: ansible_facts['virtualization_type'] == "virtualbox"
    - role: font-SF-Mono-Nerd
    - role: starship
    - role: fzf
    - role: tmux
    - role: direnv
    - role: python
    - role: pyenv
    - role: poetry
    - role: autojump
    - role: docker
    - role: uv
    - role: bash
  tasks:
    - name: Install Additional Packages
      ansible.builtin.package:
        name:
          - curl
          - jq
          - firefox
          - tree
          - ncdu
          - htop
          - btop
          - bat
          - xsel
          - xclip
          - wl-clipboard
          - fd-find
          - kitty
          - imagemagick
          - graphviz
          - eza
          - libgraphviz-dev
        state: present

#    - name: Show Facts
#      ansible.builtin.debug:
#        var: ansible_facts
