- name: Fetch poetry installer
  become: false
  ansible.builtin.get_url:
    url: https://install.python-poetry.org
    dest: /tmp/poetry_installer.py
    force: true
- name: Install poetry
  become: false
  ansible.builtin.shell: python3 /tmp/poetry_installer.py
- name: Config poetry
  become: false
  ansible.builtin.shell: ~/.local/bin/poetry config virtualenvs.in-project true
